html,body{
    background-image: url('imagini/ptSite/bgForest.jpg');
    height: 100%;
}
#navbar1 {
    margin-bottom: 0;
    border-radius: 0;
    
    background-color: #0af516;
    color: rgb(0, 0, 0);
  }
  
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) 
  .row.content {height: 15%}
  */
  /* Set gray background color and 100% height 
  #navbar1{
    background-color: #0af516;
    color: rgb(0, 0, 0);
  }*/
  .sidenav {
    padding-top: 5%;
    background-color: #c4f8d4;
    height: 10%;
  }
  div.bodyCentral{
    
    background-color: #f1faf4;
    opacity: 0.9;
    min-height: 800px;
 
   color: rgba(1, 19, 1, 0.932);
    height: 100%;
   /*margin: 0 auto -5px ;*/

  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #0CB742;
    color: black;
    padding: 10px;
    height: 10%;
  }